.pd-20
  .row
    .col-lg-12
      .col-lg-12
        p.section-title センシングウェブとデータサーバ
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, esse, labore, alias quas cum reiciendis officiis architecto dolore inventore maiores qui aspernatur sunt quisquam ab expedita nostrum officia iure velit!

    

      .col-lg-6
        p.section-title 問い合わせ方式
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, tempora, explicabo amet at quaerat tenetur dolor quisquam consequuntur nam ab earum suscipit numquam. Enim, delectus inventore amet saepe necessitatibus iste.

    

      .col-lg-6
        p.section-title データ管理方式
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, aliquid, doloribus quisquam veniam optio nisi enim ullam nam vel esse reiciendis a nihil quae magni recusandae eaque nemo labore earum?


      .col-lg-12
        p.section-title センサデータサーバの試作
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque, recusandae accusamus dolorem nostrum quia et ipsum assumenda magnam impedit molestiae perspiciatis earum voluptatum facilis perferendis rem dolor ducimus consequatur.