.pdr-30.pdl-30.pdb-15
  .grid.grid-10
    div.grid-border
      div.section-title センシングウェブとデータサーバ
      div.disc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, esse, labore, alias quas cum reiciendis officiis architecto dolore inventore maiores qui aspernatur sunt quisquam ab expedita nostrum officia iure velit!

  //hr

  .grid.grid-5.pull-left
    div.grid-border
      div.section-title 問い合わせ方式
      div.disc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, tempora, explicabo amet at quaerat tenetur dolor quisquam consequuntur nam ab earum suscipit numquam. Enim, delectus inventore amet saepe necessitatibus iste.

    

  .grid.grid-5
    div.grid-border
      div.section-title データ管理方式
      div.disc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, aliquid, doloribus quisquam veniam optio nisi enim ullam nam vel esse reiciendis a nihil quae magni recusandae eaque nemo labore earum?

  .clearfix
  //hr

  .grid.grid-10
    div.grid-border
      div.section-title センサデータサーバの試作
      .grid.grid-3.pull-left
        img(src="http://www.wakayama-u.ac.jp/vis/marks/mark01.gif" width="80%" height="80%")
      .grid.grid-7
        div.disc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque, recusandae accusamus dolorem nostrum quia et ipsum assumenda magnam impedit molestiae perspiciatis earum voluptatum facilis perferendis rem dolor ducimus consequatur.


  //hr

  .grid.grid-5.pull-left
    div.grid-border
      div.section-title 実験
      div.disc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, possimus nam consequuntur deleniti distinctio ab similique hic earum omnis velit. At, ad, officiis recusandae quae quasi fuga illo corporis maxime!

  .grid.grid-5
    div.grid-border
      div.section-title 考察
      div.disc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, amet, necessitatibus tenetur ipsa esse ullam placeat consequuntur inventore a aut error est minus sequi repellat dignissimos dicta quis. Voluptatum, libero.

  .clearfix