array = 1 .. 10

for num in array
  .mg-{num * 5}
    margin num * 5px
  .mgt-{num * 5}
    margin-top num * 5px
  .mgr-{num * 5}
    margin-right num * 5px
  .mgb-{num * 5}
    margin-bottom num * 5px
  .mgl-{num * 5}
    margin-left num * 5px

  .pd-{num * 5}
    padding num * 5px
  .pdt-{num * 5}
    padding-top num * 5px
  .pdr-{num * 5}
    padding-right num * 5px
  .pdb-{num * 5}
    padding-bottom num * 5px
  .pdl-{num * 5}
    padding-left num * 5px