array = 1 .. 10

for num in array
  .mg-{num * 5}
    margin num * 20px
  .mgt-{num * 5}
    margin-top num * 20px
  .mgr-{num * 5}
    margin-right num * 20px
  .mgb-{num * 5}
    margin-bottom num * 20px
  .mgl-{num * 5}
    margin-left num * 20px

  .pd-{num * 5}
    padding num * 20px
  .pdt-{num * 5}
    padding-top num * 20px
  .pdr-{num * 5}
    padding-right num * 20px
  .pdb-{num * 5}
    padding-bottom num * 20px
  .pdl-{num * 5}
    padding-left num * 20px

hr
  margin 0 !important
  border-top 8px solid #ddd !important